---
import { themeConfig } from '~/.config'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import LayoutPost from '~/layouts/LayoutPost.astro'
import { getCategories, getPathFromCategory, getPostDescription } from '~/utils'

export async function getStaticPaths() {
  const categoryMap = await getCategories()
  return Array.from(categoryMap).map(([key, value]) => {
    const path = getPathFromCategory(key, themeConfig.site.categoryMap)
    return {
      params: { category: path },
      props: { posts: value, name: key },
    }
  })
}

const { posts, name } = Astro.props
---

<LayoutDefault>
  <section class="max-w-prose" contain-layout flex="~ col gap-6">
    <h2 class="post-title"># {name}</h2>
    {
      posts.map((post) => (
        <LayoutPost post={post}>
          <p class="line-clamp-4">{getPostDescription(post)}</p>
        </LayoutPost>
      ))
    }
  </section>
</LayoutDefault>
