---
import { themeConfig } from '~/.config'
import LitClock from './LitClock.astro'

const { title, subtitle } = themeConfig.site
---

<hgroup
  class="cursor-pointer duration-800 ease-in-out 
         flex flex-col items-center text-center gap-2.5"
  lg="items-start text-left"
>
  <div class="relative w-full lg:pl-2.5">
    <a class="not-underline-hover duration-800 ease-in-out block w-full"
       hover:lg="bg-primary color-background"
       lg="mt-0 hover:"
       href="/"
    >
      <div class="lg:border-l-2 lg:border-primary-solid lg:pl-2.5">
        <h3 class="text-5 font-extrabold font-header m-0">{subtitle}</h3>
        <h1 class="text-8 font-extrabold font-header m-0">{title}</h1>
      </div>
    </a>
  </div>
</hgroup>

<div class="hidden lg:block mt-6 text-sm italic text-gray-500 lg:text-left lg:pl-0 text-center">
  <LitClock />
</div>


